<footer class="main-footer">
    <strong>Integrated &copy; on 2021 by <a href="https://www.linkedin.com/in/naresh-singh-a1b755170">Naresh Singh</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>v3</b>
    </div>
</footer>